<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Laws and Bills</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://malsup.github.io/jquery.blockUI.js" defer></script>

  <script>
    var socket = io();
    socket.on('new bill', function(bill){
      $.blockUI({ message: 'New bill ' + bill.bill_id + ' added!' , timeout: 2000 });
    });
    socket.on('new law', function(law){
      $.blockUI({ message: 'New law ' + law.bill_id + ' added!' , timeout: 2000 });
    });
  </script>

</head>
<div class="nav">
  <div>
    <div class="tag"><a href="/bills">Bills</a></div>
    <div class="tag"><a href="/laws">Laws</a></div>
    <div class="tag"><a href="/congressmembers">Congress Members</a></div>
    <div class="tag"><a href="/create/bill">Create Bill</a></div>
    <div class="tag"><a href="/create/law">Create Law</a></div>
    <div class="tag"><a href="/about">About Us</a></div>
  </div>
</div>

<body>

  {{{body}}}

</body>

</html>
