<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Laws and Bills</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    var socket = io();
  //   $('#billForm').submit(function(){
  //   alert("submitted");
  //   return false;
  // });
  </script>
</head>
<div class="nav">
  <div>
    <div class="tag"><a href="/science">Quotes about Science</a></div>
    <div class="tag"><a href="/truth">Quotes about Truth</a></div>
    <div class="tag"><a href="/jefferson">Quotes from Thomas Jefferson</a></div>
    <div class="tag"><a href="/short">Short</a></div>
    <div class="tag"><a href="/long">Long</a></div>
  </div>
</div>

<body>
  <article>
    <h1>Upload a Bill:</h1>
    <form id="billForm" method="POST" action="/addBill">
      <div class="input-field">
        <label>Bill Text:</label>
        <input type="text" name="text" size="50" placeholder="To Be...">
      </div>
      <div class="input-field">
        <label>Authors:</label>
        <input type="text" name="authors" size="50" placeholder="John Adams, George Washington (comma separated)">
      </div>
      <div class="input-field">
        <label>Date Introduced:</label>
        <input type="date" name="date_introduced" size="50" placeholder="05/08/2019">
      </div>
      <div class="input-field">
        <label>Committee:</label>
        <input type="text" name="committee" size="50" placeholder="Interior">
      </div>
      <div class="input-field">
        <label>Bill ID:</label>
        <input type="number" name="bill_id" size="50" placeholder="12345">
      </div>
      <button type="submit">Create Bill</button>
    </form>
  </article>

  {{{body}}}

</body>

</html>
