<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<div id="homePage">
	<article class="article">
		<h2 class="bill_id">About Us</i>
		<hr>
		<div class="content">
			OurAssembly is an app that allows users to upload and view bills and laws made by their Congress.
			Through transparency and objectivity, OurAssembly hopes to engage citizens with the laws and bills that affect them.
		</div>
		<div class="content">
			By: Camilo Calvo-Alcaniz,  Evan Eisenberg, Asher Fink
		</div>
	</article>
</div>
