<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<h2>Search</h2>
<input type="text" id="search" placeholder="Search by Name"></input>

<h2>Congressmembers:</h2>
<div id="homePage">
	{{#each congressmembers}}
	<article class="article">
		<h2 class="bill_id">{{this.name}}</h2> <i>{{this.party}}</i>
		<hr>
		<div class="content">
			Inaugurated in {{{this.year_inaugurated}}}
		</div>
	</article>
	<script>
		$("#search").on("keyup", function () {
			searchBox = document.getElementById("search").value.toLowerCase();
			var articles = document.getElementsByClassName("article");
			console.log(articles);
			for (var node of articles) {
				console.log(node);
				if (!node.textContent.trim().toLowerCase().startsWith(searchBox)) {
					node.style.display = "none";
				} else {
					node.style.display = "block";
				}
				var page = document.getElementById("homePage");
				var empty = document.getElementById("emptyText");
				if(page.innerText.length == 0) {
					console.log("empty");
					empty.style.display = "block";
				} else {
					empty.style.display = "none";
					if(page.innerText.length == 0) {
						empty.style.display = "block";
					}
				}
			}
		});
	</script>
	{{else}}

	<article>
		<h1>There are no Congress Members yet </h1>
	</article>
	{{/each}}
	<div id="emptyText" style="display: none">There are no people that match your search :(</div>
</div>
