<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<article>
    <h1>Add a Congress Member:</h1>
    <form method="POST" action="/addCongressMember">
      <div class="input-field">
        <label>Congress Member's Name:</label>
        <input type="String" name="name" size="50" placeholder="Name">
      </div>
      <div class="input-field">
        <label>Congress Member's Party:</label>
        <input type="text" name="party" size="50" placeholder="Party">
      </div>
      <div class="input-field">
        <label>Year Inaugurated:</label>
        <input type="number" name="year_inaugurated" size="50" placeholder="Year">
      </div>
      <button type="submit">Add Congress Member</button>
    </form>
  </article>